:root {
  --primary-blue: #0055a1;
  --secondary-blue: #4b8fce;
  --accent-orange: #ff6600;
  --light-gray: #f8f8f8;
  --medium-gray: #eeeeee;
  --dark-gray: #333333;
  --text-color: #333333;
  --white: #ffffff;
}

body {
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background-color: var(--light-gray);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
